.board {
    width: fit-content;
    background-size: contain;
}

.box {
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    
    background: transparent;
    border: none;

    margin: 1em;


}

.box > img {
    height: 100px;
    width: 100px;
}

.pieces {
    width: -webkit-fill-available;
}